{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block app %}
{{ parent() }}
<script type="text/javascript">
    LT.config.menus = {{ menus | serialize('json') | raw }};
    LT.config.orders = {{ orders | serialize('json') | raw }};

    LT.config.orderPersist = "{{ path('orderPersist', {'token': client.token}) }}";
</script>
{% endblock %}

{% block body %}
<div class="hero-unit">
    <h1>{% trans with {'%name%': client.name} %}Hello, %name%{% endtrans %}</h1>

    <p>{% trans %}This is your private page for making orders.{% endtrans %}</p>

    <p>
        <a href="{{ path('companyPage', {'token': client.company.token})}}">
            {% trans %}Back to company page{% endtrans %}
        </a>
    </p>

</div>

{% include 'LTDeliveryBundle:Default:menu.html.twig' %}

{% endblock %}

